body {
    font-family: Arial;
    padding: 10px;
    background: #f8ede3;
}

.header{
    font-family: "Secular One";
    background-color: #bdd2b6;
    padding: 5%;
    text-align: center;
}

.topnav{
    overflow: hidden;
    background-color: #a2b29f;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #798777;
    color: black;
}

.leftcolumn {   
    float: left;
    width: 75%;
}
  
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}